html {
    scroll-behavior: smooth;
}

body {
    margin: 140px 0 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    background-color: white;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: #4775ff;
}

h1 {
    font-size: 30px;
}

hr {
    width: 100%;
}
/* header */
.site_header {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: url("../images/sunnyday.jpg");
    position: fixed;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 100px;
}

.logo:hover {
    transform: scale(1.1);
}

.navigation-list {
    vertical-align: center;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.navigation_page, .auth_link {
    color: white;
    text-decoration: none;
}

.navigation_page:hover {
    border-bottom: 1px solid;
}

.auth_link {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 30px;
}

.auth_link:hover {
    border-bottom: 1px solid;
}
/*main about_me*/
.about_me {
    display: flex;
    justify-content: space-evenly;
}

.my_photo {
    border: cornflowerblue solid 4px;
    max-height: 300px;
    max-width: 300px;
}

.about-me-table {
    max-height: 300px;
    max-width: 900px;
    width: 100%;
    table-layout: fixed;
    font-size: 20px;
    text-align: center;
}

.about-me-table td {
    vertical-align: top;
}

/*footer*/
.site_footer {
    background-color: Gainsboro;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.contacts li {
    display: inline-block;
}

.contacts li img {
    max-height: 40px;
}

/* GRID */
/* monuments */
.monuments {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.monuments .photo-content, .streets .photo-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo-content {
    margin: 2%;
}

.monument-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
    max-height: 170px;
}

/* streets */
.top-left {
    grid-area: top-left;
}

.top-right {
    grid-area: top-right;
}

.bottom-left {
    grid-area: bottom-left;
}

.bottom-right {
    grid-area: bottom-right;
}

.streets {
    text-align: center;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'top-left top-right'
    'bottom-left bottom-right';
}

.street-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 430px;
    max-height: 310px;
}

/* media */
@media screen and (min-width: 320px) and (max-width: 426px) {
    body {
        margin: 100px 0 0;
    }
    h1 {
        font-size: 17px;
    }
    h2 {
        font-size: 15px;
    }
    .site_header {
        height: 90px;
    }
    .logo, .mendeleev {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        max-height: 60px;
    }
    .navigation_page {
        font-size: 7px;
    }
    .about_me {
        flex-direction: column;
    }
    .my_photo {
        margin-left: auto;
        margin-right: auto;
        border: cornflowerblue solid 2px;
        max-height: 250px;
        max-width: 250px;
    }
    table {
        font-size: 14px;
    }

    .monuments {
        grid-template-columns: auto;
    }

    .streets {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                'top-left'
                'top-right'
                'bottom-left'
                'bottom-right';
    }
    .street-image {
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
    .monuments {
        grid-template-columns: 1fr 1fr;
    }

    .streets {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'top-left'
        'top-right'
        'bottom-left'
        'bottom-right';
    }
}

/* Авторизация */
.auth-table {
    margin: auto;
}

.auth-error-message {
    color: red;
}

.success-auth {
    text-align: center;
}

/* Анкета */
.questionnaire, .questionnaire-result {
    text-align: center;
}

.questionnaire label {
    display: block;
}