body {
    color: white;
    background-color: black;
}

h1, h2 {
    color: yellow;
}

.site_header {
    background-image: url("../images/moonlightnight.jpg");
    border-bottom: 2px solid white;
}

.navigation_page {
    color: yellow;
}

.my_photo {
    border: yellow solid 4px;
}

.site_footer {
    background-color: #696969;
}

.top_button {
    background-color: black;
}

/* Стили для страницы пользователя */

.additional-pages a {
    color: white;
}